#middleNav{
	position: relative;
	top: 70vh;
	width: 400px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

#middleNav ul{
	margin: 0;
	padding: 0;
}

#middleNav ul li{
	list-style: none;
}

#middleNav ul li a{
	text-decoration: none;
	color: white;
	float: left;
	display: block;
	padding: 10px 20px;
	width: 100px;
}

.navbar-inverse{
	border: 0;
}

#panel1{
	background-image: url("../media/images/qnc.png");
	background-color: black;
	height: 100vh;
	width: auto;
	background-position: center;
}

#panel2{
	background-image: url("../media/images/3d.jpg");
	height: 1000px;
	width: 100%;
	background-size: auto 100%;
	background-position: center left;
	background-repeat: no-repeat;
}

#panel3{
	position: 100vh;
	background-image: url("../media/images/office.jpg");
	height: 1000px;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#panel4{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: black;
}	

.container{
	background-color: #303030;
	width: 100%;
}

.social{
	list-style: none;
	padding: 0;
}

.social li{
	color: #ef5107;
}

.social li a{
	text-decoration: none;
	color: #ef5107;
}
footer h6{
	color: white;
}

