/*~~~~~~~~~~~~~~~~global~~~~~~~~~~~~~~~~~~~*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Condensed);




/*~~~~~~~~~~~~~~~~panel1~~~~~~~~~~~~~~~~~*/
#intro{
	text-align: center;
}

#panel1 img{
	margin-top: 20vh;
}

#panel1 h1{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	display: block;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 0;
}

#panel1 h3{
	color: white;
	margin: 0;
	display: block;
}


#middleNav{
	position: relative;
	top: 5vh;
	width: 600px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

#middleNav ul{
	margin: 0;
	padding: 0;
}

#middleNav ul li{
	list-style: none;
}

#middleNav ul li a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: white;
	float: left;
	display: block;
	padding: 10px 20px;
	width: 150px;
}

.navbar-inverse{
	border: 0;
}

#panel1{
	background-image: url("../media/images/qnc.png");
	background-color: black;
	height: 100vh;
	width: auto;
	background-position: center;
}

#panel2{
	background-image: url("../media/images/3d.jpg");
	height: 1000px;
    background-repeat: no-repeat;
    background-width: 100%;
}

#panel3{
	position: 100vh;
	background-image: url("../media/images/office.jpg");
	height: 1000px;
	background-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#panel4{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 1000px;
	background-color: black;
	display: block;
}	

.container{
	background-color: #303030;
	width: 100%;
}

.social{
	list-style: none;
	padding: 0;
}

.social li{
	color: #ef5107;
}

.social li a{
	text-decoration: none;
	color: #ef5107;
}
footer h6{
	color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Pre Loader~~~~~~~~~~~~~~~~~~~~*/

#loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9001;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	z-index: 9002;

	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:#EF5107 ;


	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before{
	content:"";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;

	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:#EF5107; 

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}	

#loader:after{
	content:"";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;

	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:#EF5107; 

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #303030;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}


@-webkit-keyframes spin {
  0%   {
  	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */ 
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/
  }
  100% {
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */ 
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera*/
  }
}
@keyframes spin {
   0%   {
  	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */ 
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera*/
  }
  100% {
  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */ 
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera*/
  }
}